@use './fonts.scss' as *;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: $main-font;
  line-height: 150%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
  font-size: $main-size;
}
button{
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}
img{
  width: 100%;
  display: block;
}
